<div class="card-deck mb-3 d-flex justify-content-center">
  <mat-card>
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>Authentication Required</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <form class="login-form">
        <mat-form-field class="login-full-width">
          <mat-label>User Name</mat-label>
          <input matInput placeholder="Ex. tester" value="tester">
        </mat-form-field>

        <mat-form-field class="login-full-width">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Ex. 12345678..." value="12345678" type="password">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-button>LIKE</button> -->
      <button mat-button>Submit</button>
    </mat-card-actions>
  </mat-card>
</div>
