<div class="card-deck mb-3 text-center">
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Bookmark</h4>
    </div>
    <div class="card-body">
      <!-- <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1> -->
      <ul class="list-unstyled mt-3 mb-4">
        <li>Personal bookmark</li>
        <li>Quick access</li>
        <li>Easy to use</li>
      </ul>
      <button type="button" class="btn btn-lg btn-block btn-outline-primary">Go to bookmark</button>
    </div>
  </div>
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Note</h4>
    </div>
    <div class="card-body">
      <!-- <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1> -->
      <ul class="list-unstyled mt-3 mb-4">
        <li>Easy to use</li>
        <li>take text only notes</li>
        <li>&nbsp;</li>
      </ul>
      <button type="button" class="btn btn-lg btn-block btn-outline-primary">Note Book</button>
    </div>
  </div>
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Notebook Plus</h4>
    </div>
    <div class="card-body">
      <!-- <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1> -->
      <ul class="list-unstyled mt-3 mb-4">
        <li>Quick access</li>
        <li>Take format/HTML text notes</li>
        <li>&nbsp;</li>
      </ul>
      <button type="button" class="btn btn-lg btn-block btn-outline-primary">Notebook Plus</button>
    </div>
  </div>
</div>
